@import "tailwindcss";

@plugin "daisyui" {
  themes: cupcake --default;
  root: ":root";
  logs: true;
}

@plugin "daisyui/theme" {
  name: "appshare";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: cupcake; /* color of browser-provided UI */

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
